<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header" href="https://nikoleta-v3.github.io/">Nikoleta E. Glynatsi</a>
                <div class="description">
                    <p>Any comments are welcome! Find me on <a class="item" href="https://twitter.com/NikoletaGlyn">
                    <i class="twitter link icon"></i></a>
                    or via <i class="mail link icon"></i></a> glynatsine@cardiff.ac.uk.</p>
                </div>
            </div>
        </div>
    </div>
</div>