---
layout: default
---

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<div class="post-container">
    <center>
        <span class="date">
            {{ page.date | date_to_string }} 
            {% if page.category %} 
                in <i>{{ page.categories }}</i>
            {% endif %} 
        </span>
        <h1 class="post-title">{{ page.title }}</h1>
    </center>
    <div class="ui divider"></div>
    {{ content }}
    {% include mathjax.html %}
</div>